@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'albert-sans'; /*a name to be used later*/
    src: url('../assets/Albert_Sans/AlbertSans-VariableFont_wght.ttf'); /*URL to font*/
}

body {
	font-family: 'albert-sans';
}